<div class="container">
<div class="row">
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "alert alert-#{name}" %>
<% end -%>
</div>


<h4 class="media-heading">
	<%= @article.title %>
	  <p><small> <span class="glyphicon glyphicon-time"> </span> Dodano:  <%= @article.created_at %> </small></p>
	</h4>
<div class="row">
<div class="well">
  <%= @article.text %>
</div>
</div> 
<div class="row">
<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %> 
<%= link_to 'Back', articles_path, class: 'btn btn-default' %>
</div>
</div>

<div class="container">
  <% if @comments.length > 0 %>
    <h4>Komentarze:</h4>
  <% end %>
  <% @comments.each do |comment| %>
    <div>
      <strong><%= comment.user_name %> </strong> pisze: </br>
	  <%= comment.created_at %>
      <br />
      <p><%= comment.body %></p>
    </div>
  <% end %>
  <%= render 'comments/form' %>
</div>